body{
    background-color: rgb(95, 95, 95);
    padding: 0%;
    margin: 0%;
}
header{
    background-color: rgb(70, 70, 70);
    border-bottom-left-radius: 2em;
    border-bottom-right-radius: 2em;
    width: 100%;
    height: 5em;
    margin: 0;
}
nav{
    height: 50px;
    width: 100%;
    background-color: rgb(44, 44, 44);
    border-radius: 25px;
}
main{
    background-color: grey;
    border-radius: 20px;
    .about-photo{
        width: 400px;
    }
    article{
        margin-bottom: 15px;
        background-color: blue;
        display: flex;
        font-family: "Century"; 
        height: 515px;
        img{
            width: 500px;
            align-self: center;
            scroll-snap-align: center;
            scrollbar-color: rgb(95,95,95);
        }
        .tech{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
            width: 500px;
            overflow-x: scroll;
            gap: 5px;
            scroll-snap-type: both mandatory;
        }
        .mount{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            width: 500px;
            overflow-x: scroll;
            gap: 5px;
            scroll-snap-type: both mandatory;
        }
        .format{
            width: 50%;
        }
    }
}
footer{
    font-family: "Engravers MT", serif;
    text-align: center;
}